.footer {
   grid-area: footer;
   padding: 30px 20px;
   background: #060026;

   &__text {
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
   }

   &__linck {
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: #EB00FF;
      text-decoration: none;
   }

   &__linck:hover {
      opacity: 0.6;
      text-decoration: none;
   }
}