#app {
   display: grid;
   grid-template-areas:
   "header header"
   "aside main"
   "aside footer";
   grid-template-columns: minmax(200px, 264px) auto;
   grid-template-rows: auto auto auto;
   overflow: hidden;
}

::-webkit-scrollbar-thumb {
   width: 8px;
   height: 30px;
   background: #000;
   border-radius: 10px;
   background-color: #060028;
 }
 ::-webkit-scrollbar {
   width: 10px;
   background-color: #f9f9fd8a;
 }
 ::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #060028;
 }

 .main {
   grid-area: main;
   min-height: 100vh;
   position: relative;
}

.form-label {
   font-size: 0;
}

.br {
   border-right: 1px solid #fff;
}


@media (max-width: 992px) {
   #app {
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      position: relative;
    }

    .aside {
      position: absolute;
      top: 74px;
      left: 0;
      padding: 10px 20px;
      z-index: 35;
      transform: translateX(-100%);
      transition: all 0.6s ease-in;
      background: #fff;
    }

    .naw-show {
      transform: translateX(0);
    }
}

.toast-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  background-color: transparent;
  border: 0;
}

.toast-text {
  width: 246px;
}

@media (max-width: 368px) {
  .toast-text {
    width: 230px;
  }
}

.logo-link {
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-out;
}

.logo-link:hover {
  color: #ffffff58;
  text-decoration: none;
}