.header {
   grid-area: header;
   height: 90px;
   padding: 32px 20px;
   color: #fff;
   background: #060026;
   position: relative;

}

@media (max-width: 1546px) {
  .header{
    height: 80px;
    padding: 30px 20px;
  }
}

.header-nav {
  justify-content: flex-end;
  align-items: center;

  &__item {
    margin-left: 32px;
  }
}

.language-switcher {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  text-transform: uppercase;
  color: #5B5A99;
}

.language-switcher:hover,
.language-switcher:focus, 
.language-switcher:active {
  color: #fff;
}

.refs-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #EB00FF;


  background: #FFFFFF;
  padding: 4px 20px;
  opacity: 0.8;
  border-radius: 8px;
  transition: all 0.3s ease-in;

  .copy-icon {
    fill: #EB00FF;
    transition: all 0.3s ease-in;
  }
}

.refs-btn:hover,
.refs-btn:focus,
.refs-btn:active {
  background: #EB00FF;
  color: #FFFFFF;

  .copy-icon {
    fill: #FFFFFF;
  }
}

.user-balance {
  background: #EB00FF;
  border-radius: 8px;
  padding: 4px 20px;
  animation: dlink 1.5s linear infinite;
}

.user-balance a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0;
}

@keyframes dlink {
  0% {
    opacity: 0.3;
    box-shadow: 0px 0px 0px #EB00FF;
  }

  50% {
    opacity: .6;
    box-shadow: 0px 2px 17px #EB00FF;
  }

  100% {
    opacity: 1;
    box-shadow: 0px 4px 32px #EB00FF;
  }
}

.user-photo {
  border-radius: 7px;
  margin-right: 6px;
}

.user-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #5B5A99;
}

.user-name:hover {
  color: #fff;
}

.burger {
   display: none;
}

.profile-linck {
  display: none;
}

.header-lincks {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #5B5A99;
  transition: all 0.3s ease;
}

.header-lincks_upp {
  text-transform: uppercase;
}

.header-lincks:hover {
  color: #fff;
}

@media (max-width: 992px) {
  .burger {
    display: block;
    position: absolute;
    z-index: 10;
    top: -10px;
    right: 16px;
  }

  .profile-linck {
    display: block;
    color: #fff;
    margin-right: 70px; 
    margin-left: auto;
  }

  .header-bignav {
    display: none;
  }
}

 .menu {
   background-color: transparent;
   border: none;
   cursor: pointer;
   display: flex;
   padding: 0;
   width: 60px;
   height: 60px;
 }

 .line {
   fill: none;
   stroke: #fff;
   stroke-width: 6;
   transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
     stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .line1 {
   stroke-dasharray: 60 207;
   stroke-width: 6;
 }

 .line2 {
   stroke-dasharray: 60 60;
   stroke-width: 6;
 }

 .line3 {
   stroke-dasharray: 60 207;
   stroke-width: 6;
 }

 .opened .line1 {
   stroke-dasharray: 90 207;
   stroke-dashoffset: -134;
   stroke-width: 6;
 }
 .opened .line2 {
   stroke-dasharray: 1 60;
   stroke-dashoffset: -30;
   stroke-width: 6;
 }
 .opened .line3 {
   stroke-dasharray: 90 207;
   stroke-dashoffset: -134;
   stroke-width: 6;
 }

 .header .nav .nav-link span {
   margin-right: 4px;
}

@media (max-width: 472px) {
   .header .nav .nav-link {
      padding: .3rem .5rem;
      font-size: 14px;
   }

   .header .nav .nav-link span {
      display: none;
   }

   .burger {
      transform: scale(85%);
      top: -7px;
      right: 12px;
   }
}