.home-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.main-heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.main-btn-group {
   padding: 9px 13px;
   background: #080031;
   border-radius: 11px;
}

.deteils-block {
   text-align: right;
}

.card-heading {
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 27px;
   color: #FFFFFF;
   margin-bottom: 12px;


   &__linck {
      margin-left: auto;
   }
}

.card {
   border: none;
   border-radius: 10px;
   color: #fff;
   padding: 13px 14px;

   &__title {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 0;
   }

   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: -5px;
   }

   &__img {
      margin-top: -15px;
   }


   &__sum {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 0.04em;
   }

   &__footer {
      display: flex;
      align-items: center;
   }
}

.card-balance {
   background: linear-gradient(277.03deg, #EB00FF 3.58%, rgba(246, 145, 255, 0.87) 47.58%, 
   rgba(147, 129, 255, 0.75) 96.52%);
   background-size: 400% 400%;
	animation: gradient 6s ease infinite;

   &__cell p{
      margin-bottom: 10px;
   }

   &__cell p:last-child {
      margin-bottom: 0;
   }

   &__cell-centr {
      margin: 0 auto;
   }

}

.card-profit {
   background: linear-gradient(105.87deg, #A08EFF 18.71%, #CAC1FF 66.45%, #2F0DFF 120.18%);
   background-size: 400% 400%;
	animation: gradient 6s ease infinite;

   &__btn {
      color: #FFFFFF;
      opacity: 0.8;
      border: 1px solid #FFFFFF;
      border-radius: 8px;
      padding: 4px 20px;
      transition: all 0.4s ease-in;
   }

   &__btn:hover,
   &__btn:focus,
   &__btn:active {
      background: #2F0DFF;
      color: #FFFFFF;
      text-decoration: none;
      border: 1px solid #FFFFFF;
   }

   &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__cell p{
      margin-bottom: 10px;
   }

   &__cell p:last-child {
      margin-bottom: 0;
   }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text-pinck {
   color: #EB00FF;
}

#home-tabs a {
   color: #fff;
}

@media (max-width: 768px) { 
   .main-heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
   }

   .deteils-block {
      margin-bottom: 30px;
      text-align: left;
   }
 }

@media (max-width: 452px) { 
   .main-btn-group {
      width: 100%;
   }

   .main-btn-group button{
      display: block;
      margin-bottom: 16px;
      width: 100%;

   }
}

.activity {
   margin-bottom: 48px;
}

.tab-back {
   background: #080031;
   border-radius: 8px;
   padding: 20px;
   position: relative;
}

.view-linck {
   padding: .5rem 1rem;
   margin-left: auto;
   padding-left: 20px;
}

.crypto-icon {
   border-radius: 5px;
}

.img-ceill {
   width: 40px;
}