.video {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.voice-btn {
    width: 106px;
}

#investmentAmount {
    max-width: 375px;
}

#investTab {
    .nav-link {
        color: #000;
    }

    .nav-link:hover,
    .nav-link.active {
        color: #150E41;
    }
}


.btn-primary_mt {
    margin-top: 2px;
}


@media (max-width: 576px) { 
    .investment-table {
        overflow-x: scroll; 

        .btn {
            min-width: 94px;
        }
    }

    .more-invest {
        overflow-x: scroll; 
    }
}

@media (max-width: 388px) {
    .btn-primary_mt {
        margin-top: -9px;
    }
}

@media (max-width: 362px) {
    #investmentAmount {
        max-width: 159px;
    }
}

.small-modal {
    max-width: 362px;
}