.profile-photo {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   color: #fff;

   &__img {
      height: 200px;
      width: 200px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      display: inline-block;
      background-color: #6c9fff;
      background-image: url('../images/photo/Small_logo.svg');
      margin-bottom: 16px;
   }

   &__delete-btn {
      position: relative;
      color: #fff;
      margin-left: 13px;
      margin-bottom: 16px;
   }

   &__delete-btn:hover {
      text-decoration: none;
   }

   &__delete-btn::after {
      content: 'x';
      display: block;
      position: absolute;
      bottom: 2px;
      left: -13px;
      color: red;
   }

   &__load-btn {
      width: 200px;
      margin-top: 10px;
      margin-bottom: 16px;
   }

   &__recom {
      opacity: 0.65;
   }
}

.profile-data {
   input {
      max-width: 460px;
   }
}

.birthday {
   display: flex; 
   align-items: center;

   &__day {
      width: 85px;
      margin-right: 10px;
   }

   &__month {
      width: 85px;
      margin-right: 10px;
   }

   &__yer {
      width: 100px;
   }
}

.form-control:disabled, .form-control[readonly] {
   background-color: #060026;;
   opacity: 0.4;
}

.send-code:hover {
   text-decoration: none;
}

.language {
   width: 95px;
}

@media (max-width: 1199px) {
   .user-photo-block {
      order: -1;
   }
}

.section-names {
   color: #fff;
   opacity: 0.65;
   text-transform: uppercase;
   margin: 14px 0;
}

.Authentication {
   color: #fff;
}


@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}

@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .2em;
    height: .5em;    
    border-color: #fff;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}

.reset {
   flex-direction: column;
   align-items: flex-start;

   &__code {
      // width: 100%;
      max-width: 300px;
   }

}



.beautiful-checkbox {
   position: relative;
   margin-bottom: 20px;

   &__control {
      display: block;
      width: 1px;
      height: 1px;
      opacity: 0;
   }

   &__label {
      font-size: 24px;
      padding-left: 40px;
      color: #fff;
      transition: all 0.25s ease-in;
   }

   &__label::after,
   &__label::before {
      position: absolute;
      content: '';
      display: block;
      cursor: pointer;
   }

   &__label::before {
      width: 20px;
      height: 20px;
      background: #060026;
      border-radius: 4px;
      left: 0;
      top: 0;
   }

   &__label::after {
      width: 16px;
      height: 17px;
      left: 4px;
      top: -2px;
      background: url('../images/icons/check.svg') center center no-repeat;
      background-size: contain;
      opacity: 0;
      transition: all 0.25s ease-in;
   }

   input[type='checkbox']:checked + label::after {
      opacity: 1;
   }

   input[type='checkbox']:disabled + label {
      color: gray;
      opacity: 0.6;
   }
}

.subparagraph {
   margin-left: 24px;
}

@media (max-width: 362px) {
   .beautiful-checkbox {
      &__label {
         font-size: 20px;
      }
   }

}


