.filteers {

    &__btn {
        width: 60px;
    }

    &__label {
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.015em;
    }

    &__settings-btn {
        margin-left: 4rem;
    }
}

.my-profit {
    margin-top: -1.3rem;
}

#statisticsTab {

    .nav-link {
        color: #000;
    }

    .nav-link:hover,
    .nav-link.active {
        color: #00000098;
    }
}

@media (max-width: 1199px) {
    .my-profit {
        margin-top: 1.3rem;
    }
}

@media (max-width: 468px) {
    .filteers {
        &__settings-btn {
            margin-left: 78px;
            margin-top: 10px;
        }
    }
}