
#calendar {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: -5;
    opacity: 0;

    input {
        width: 40px;
    }
}

.statistic-problem {
    text-align: right;

    .btn-warning {
        padding: 0;
    }
}

@media (max-width: 1199px) {
    .my-profit {
        margin-top: 1.3rem;
    }
}

@media (max-width: 768px) {
    .filteers {
        &__settings-btn {
            margin-left: 78px;
            margin-top: 10px;
        }
    }

    .my-profit {
        font-size: 38px;
    }
}

@media (max-width: 379px) {
    .filteers {

        &__group-btn {
            display: flex;
            flex-wrap: wrap;
        }

        &__group-btn button {
            margin: 0 5px;
            margin-bottom: 10px;
        }

        &__settings-btn {
            margin-left: 0;
            margin-top: 0;
        }
    }

    .my-profit {
        font-size: 34px;
    }
}